<div class="container-fluid">

    <div class="card" style="width: 50%;margin: 5px auto;">
        <div class="card-header">
            Add New Student
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="student.name" id="name" name="name" class="form-control" type="text">
                </div>


                <div class="form-group">
                    <label for="age">Age</label>
                    <input [(ngModel)]="student.age" id="age" name="age" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input [(ngModel)]="student.phone" id="phone" name="phone" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input [(ngModel)]="student.address" name="address" id="address" class="form-control" type="text">
                </div>

                <button class="btn btn-primary" (click)="saveStudent()">Save</button>
            </form>
        </div>
        <div class="card-footer" *ngIf="showAlert">
            <div class="alert alert-success">
                <button (click)="closeAlert()" class="close">
                    &times;
                </button>
                <strong>Success</strong>
            </div>
        </div>
    </div>
</div>